/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 250%;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #333;
  padding: 10px;
  text-align: center;
  height: 40%;
  background: linear-gradient(to right, #F4F1EA, #C2C1E0);
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  border: none;
  margin: 30px;
}

button:hover {
  opacity: 0.8;
}

main {
  padding: 20px;
}

.img-overall {
  width: 70%;
  display: block;
  margin: auto;
}

.context {
  width: 70%;
  display: block;
  margin: auto;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  color: #74AED4;
}

.text {
  line-height: 1.5;
  text-align: justify;
  color: #333;
  font-size: 1.2em;
}

.horizontal-line {
  border-bottom: 1px solid #ccc;
  margin: 1.5em;
  margin-left: 0%;
  margin-right: 0%;
}

.img-motivation {
  width: 100%;
}

.img-tab-cvusa-cvact {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.img-tab-vigor {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.second-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #74AED4;
}

.img-heatmap {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.img-sne {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.img-retrieval {
  width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  background: linear-gradient(to right, #F4F1EA, #C2C1E0);
  color: #333;
  text-align: center;
  padding: 10px 0;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}
